$mobile-sm: 320px;
$mobile: 360px;
$landscape-sm: 768px;
$landscape-lg: 1000px;
$desktop: 1200px;
$desktop-hd: 1920px;
$orange: #f29940;
$blue: #3e9ce8;

body {
	font-family: 'Exo 2', sans-serif;
}
a {
	text-decoration: none;
	transition: all 0.3s ease-in-out;
}

/*Обёртка лендинга*/
.mysanteh__landing__wrap {
	width: 100%;
	position: relative;
}

/*Обёртка верхнего блока*/
.top__section__wrap {
	width: 100%;
	position: relative;
	background-image: url(../img/top-section-bg.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	@media screen and (min-width: $mobile-sm) {
		background-position: -20px 0px;
		background-size: 650%;
	}
	@media screen and (min-width: $desktop) {
		min-height: 300px;
		background-size: cover;
		background-position: center top;
	}
	@media screen and (min-width: $desktop-hd) {
		min-height: 600px;
	}
}

/*Верхний блок*/
.top__section {
	width: 100%;
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	padding: 15px 0;
	@media screen and (min-width: $mobile-sm) {
		justify-content: space-around;
	}
	@media screen and (min-width: $landscape-lg) {
		width: 90%;
		justify-content: space-between;
		border-bottom: 2px solid #66a4d6;
		padding-bottom: 25px;
	}
	@media screen and (min-width: $desktop-hd) {
		width: 100%;
	}
}

/*Логотип в верхнем блоке*/
.top__section__logo {
	width: 145px;
	img {
		width: 100%;
	}
	@media screen and (min-width: $mobile-sm) {
		margin-bottom: 25px;
	}
	@media screen and (min-width: $landscape-lg) {
		margin-bottom: 0;
	}
}

/*Ссылки для быстрого перехода в верхнем блоке*/
.top__section__links {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	@media screen and (min-width: $mobile-sm) {
		justify-content: space-around;
	}
	&__item {
		display: block;
		font-size: 18px;
		line-height: 20px;
		color: #76b8ec;
		&:hover {
			color: #c9e5f4;
		}
		@media screen and (min-width: $mobile-sm) {
			width: 100%;
			text-align: center;
			margin-bottom: 20px;
		}
		@media screen and (min-width: $landscape-sm) {
			width: auto;
			text-align: left;
			margin-right: 25px;
			margin-bottom: 0px;
			&:last-of-type {
				margin-right: 0;
			}
		}
		@media screen and (min-width: $desktop) {
			margin-right: 45px;
		}
	}
}

/*Номера телефонов в верхнем блоке*/
.top__section__phones {
	width: 175px;
	display: flex;
	align-items: flex-start;
	justify-content: flex-start;
	flex-wrap: wrap;
	&__item {
		display: block;
		width: 100%;
		margin-bottom: 10px;
		font-size: 20px;
		line-height: 1em;
		color: #ff8e4f;
		text-align: right;
	}
}

/*Рабочие часы в верхнем блоке*/
.top__section__phones__work__hours {
	width: 100%;
	font-size: 14px;
	line-height: 1em;
	color: #c8c8c8;
}

/*Список услуг в верхнем блоке*/
.top__services__list {
	width: 100%;
	padding: 40px 0;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	@media screen and (min-width: $mobile-sm) {
		justify-content: space-around;
	}
	@media screen and (min-width: $landscape-sm) {
		justify-content: flex-start;
	}
	ul {
		position: relative;
		width: 100%;
		max-width: 300px;
		margin: 0;
		padding: 0;
		list-style-type: none;
		&::after {
			content: '';
			position: absolute;
			width: 40px;
			height: 40px;
			border-radius: 50%;
			background-image: url(../img/circle-round.png);
			background-size: contain;
			background-position: center;
			background-repeat: no-repeat;
			bottom: -50px;
			left: 50%;
			transform: translateX(-50%) rotate(90deg);
		}
		@media screen and (min-width: $mobile-sm) {
			margin-bottom: 75px;
		}
		@media screen and (min-width: $landscape-sm) {
			margin-bottom: 25px;
			&::after {
				bottom: auto;
				left: auto;
				top: 35px;
				right: 20px;
				transform: rotate(0deg);
			}
		}
		@media screen and (min-width: $landscape-lg) {
				margin-right: 100px;
				&::after {
					top: 45px;
    			right: -50px;
				}
		}
		li {
			width: 100%;
			position: relative;
			line-height: 1em;
			color: #fff;
			margin-bottom: 25px;
			padding-left: 65px;
			@media screen and (min-width: $mobile-sm) {
				font-size: 20px;
			}
			@media screen and (min-width: $landscape-lg) {
				font-size: 27px;
			}
			&::before {
				content: '';
				position: absolute;
				width: 35px;
				height: 35px;
				background-position: center;
				background-size: contain;
				top: -5px;
				left: 10px;
			}
			&:nth-of-type(1) {
				&::before {
					background-image: url(../img/watter-icon.svg);
				}
			}
			&:nth-of-type(2) {
				&::before {
					background-image: url(../img/heat-icon.svg);
				}
			}
			&:nth-of-type(3) {
				&::before {
					background-image: url(../img/sewerege-icon.svg);
				}
			}
		}
	}
}

/*Элемент "под ключ"*/
.pod__kluch {
	width: 100%;
	position: relative;
	max-width: 190px;
	padding-left: 55px;
	color: #fff;
	line-height: 1em;
	&::before {
		content: '';
		position: absolute;
		width: 35px;
		height: 35px;
		background-image: url(../img/key.svg);
		background-position: center;
		background-size: contain;
		background-repeat: no-repeat;
		top: -5px;
		left: 10px;
	}
	@media screen and (min-width: $mobile-sm) {
		font-size: 20px;
		margin-bottom: 25px;
	}
	@media screen and (min-width: $landscape-sm) {
		font-size: 27px;
		margin-bottom: 55px;
	}
}

/*Текст про монтаж*/
.top__services__list__text {
	width: 100%;
	max-width: 660px;
	border: 5px solid #f5ab77;
	border-radius: 10px;
	padding: 18px 0 18px 25px;
	@media screen and (min-width: $mobile-sm) {
		font-size: 20px;
		color: #fff;
		line-height: 1.3em;
		margin-bottom: 20px;
	}
	@media screen and (min-width: $landscape-lg) {
		margin-top: 105px;
	}
	@media screen and (min-width: $desktop-hd) {
		margin-top: 0;
	}
}
.top__stock__single__wrap {
	width: 100%;
	padding: 20px 0;
	box-shadow: -4px 19px 20px 0px rgba(0, 0, 0, 0.07);
	@media screen and (min-width: $landscape-lg) {
		padding-bottom: 40px;
	}
}

/*Верхний блок с акциями*/
.top__stock__block {
	width: 100%;
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	@media screen and (min-width: $mobile-sm) {
		justify-content: space-around;
	}
	@media screen and (min-width: $landscape-lg) {
		justify-content: flex-start;
	}
}
.top__stock__block__text {
	width: 100%;
	max-width: 250px;
	@media screen and (min-width: $mobile-sm) {
		font-size: 20px;
		line-height: 1.3em;
		color: #68788a;
		padding: 5px;
		margin-bottom: 25px;
		text-align: center;
	}
	@media screen and (min-width: $landscape-lg) {
		font-size: 29px;
		text-align: left;
		margin-bottom: 0;
		margin-right: 35px;
	}
	span {
		font-size: 40px;
		color: $orange;
		font-weight: bold;
		text-transform: uppercase;
		@media screen and (min-width: $landscape-lg) {
			font-size: 67px;
		}
	}
}
/*Изображение акции*/
.top__stock__block__image {
	width: 100%;
	max-width: 176px;
	img {
		width: 100%;
	}
	@media screen and (min-width: $landscape-lg) {
		margin-bottom: -35px;
		margin-right: 45px;
	}
}

/*Текст акции*/
.top__stock__block__order__text {
	width: 100%;
	max-width: 300px;
	font-size: 21px;
	line-height: 1.3em;
	color: #68788a;
	@media screen and (min-width: $mobile-sm) {
		margin-bottom: 25px;
	}
	@media screen and (min-width: $landscape-lg) {
		margin-bottom: 0;
		margin-right: 25px;
	}
}

/*Ссылка в верхнем блоке с акциями*/
.top__stock__block__order__link {
	display: block;
	width: 100%;
	max-width: 260px;
	font-size: 16px;
	line-height: 1em;
	text-align: center;
	color: #3e9ce8;
	border: 1px solid #3e9ce8;
	padding-top: 11px;
	padding-bottom: 11px;
	border-radius: 5px;
	&:hover {
		background-color: #3e9ce8;
		color: #fff;
	}
}

/*Верхний блок заказа работ*/
.callback__order__line {
	width: 100%;
	padding: 20px 0px;
}
.callback__line__form__wrap {
	width: 100%;
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	@media screen and (min-width: $mobile-sm) {
		justify-content: space-around;
	}
	@media screen and (min-width: $landscape-lg) {
		justify-content: flex-start;
	}
	h2 {
		width: 100%;
		max-width: 265px;
		font-size: 24px;
		line-height: 40px;
		color: #68788a;
		font-weight: 500;
	}
	input {
		display: block;
		width: 100%;
		max-width: 260px;
		border: 1px solid #dadada;
		border-radius: 5px;
		font-size: 16px;
		line-height: 1em;
		color: #949ea9;
		padding: 11px 0px 11px 20px;
		outline: none;
		transition: all 0.3s linear;
		&.input-error {
			border-color: $orange;
		}
		&:focus {
			box-shadow: 0 0 5px rgba(218, 218, 218, 1);
		}
		@media screen and (min-width: $mobile-sm) {
			margin-bottom: 15px;
		}
		@media screen and (min-width: $desktop) {
			margin-bottom: 0px;
		}
	}
	button {
		display: block;
		width: 100%;
		max-width: 260px;
		border: none;
		outline: none;
		border-radius: 5px;
		color: $blue;
		border: 1px solid $blue;
		font-size: 16px;
		text-align: center;
		padding: 11px 0px;
		margin-bottom: 15px;
		transition: all 0.2s ease-in-out;
		cursor: pointer;
		background-color: transparent;
		&:hover {
			background-color: $blue;
			color: #fff;
		}
		@media screen and (min-width: $desktop) {
			margin-bottom: 0px;
		}
	}
}
.callback__line__form {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-around;
	flex-wrap: wrap;
	@media screen and (min-width: $desktop) {
		width: 75%;
	}
}
.callback__line__conf__block {
	width: 100%;
	font-size: 14px;
	line-height: 1.3em;
	color: #949ea9;
	margin-bottom: 25px;
	a {
		color: $blue;
		font-size: 14px;
		text-decoration: underline;
	}
	@media screen and (min-width: $landscape-sm) {
		text-align: center;
	}
}


/*Блок с решением задач*/
.tasks__list__block__wrap {
	@media screen and (min-width: $landscape-sm) {
		padding-top: 50px;
	}
	h2 {
		position: relative;
		width: 100%;
		max-width: 465px;
		margin: 0 auto;
		margin-bottom: 20px;
		font-size: 28px;
		line-height: 1.5em;
		text-align: center;
		color: #68788a;
		position: relative;
		text-transform: uppercase;
		font-weight: 500;
		&::before {
			content: '';
			position: absolute;
			width: 70px;
			height: 2px;
			background-color: #c9e5f4;
			top: -20px;
			left: 50%;
			transform: translateX(-50%);
		}
	}
}

/*Обёртка элементов задач и элементы задач*/
.tasks__list__block {
	width: 100%;
	display: flex;
	align-items: flex-start;
	justify-content: space-around;
	flex-wrap: wrap;
	&__item {
		position: relative;
		width: 100%;
		max-width: 190px;
		text-align: center;
		font-size: 18px;
		color: #68788a;
		line-height: 1.3em;
		padding-top: 80px;
		&::before {
			content: '';
			position: absolute;
			width: 60px;
			height: 60px;
			background-position: center;
			background-repeat: no-repeat;
			background-size: contain;
			top: 0;
			left: 50%;
			transform: translateX(-50%);
		}
		&:nth-of-type(1) {
			&::before {
				width: 70px;
				height: 70px;
				background-image: url(../img/worker-icon.svg);
			}
		}
		&:nth-of-type(2) {
			&::before {
				background-image: url(../img/free-icon.svg);
			}
		}
		&:nth-of-type(3) {
			&::before {
				width: 80px;
				height: 80px;
				background-image: url(../img/pensioneram.svg);
			}
		}
		&:nth-of-type(4) {
			&::before {
				background-image: url(../img/dates-icon.svg);
			}
		}
		&:nth-of-type(5) {
			&::before {
				background-image: url(../img/cash-icon.svg);
			}
		}
		@media screen and (min-width: $mobile-sm) {
			margin-bottom: 25px;
		}
		@media screen and (min-width: $desktop) {
			position: relative;
			margin-bottom: -20px;
			z-index: 5;
			&:nth-of-type(2),
			&:nth-of-type(4) {
				top: 75px;
			}
			&:nth-of-type(3) {
				top: 150px;
			}
		}
	}
	@media screen and (min-width: $desktop) {
		position: relative;
			&::after {
				content: '';
				position: absolute;
				width: 0;
				height: 0;
				border-style: solid;
				border-width: 250px 650px 0 650px;
				border-color: #ffffff transparent transparent transparent;
				bottom: -250px;
				left: 50%;
				transform: translateX(-50%);
				z-index: 2;
				@media screen and (min-width: $desktop-hd) {
					border-width: 250px 675px 0 675px;
				}
			}
	}
}

/*Обёртка блока проектов*/
.about__projects__wrap {
	width: 100%;
	padding: 20px 0px;
	background-color: #f3f6f8;
	@media screen and (min-width: $desktop) {
		padding-top: 265px;
	}
	h2 {
		position: relative;
		width: 100%;
		max-width: 575px;
		margin: 0 auto;
		margin-bottom: 20px;
		font-size: 24px;
		line-height: 1.5em;
		text-align: center;
		color: #68788a;
		text-transform: uppercase;
		font-weight: 500;
		@media screen and (min-width: $landscape-sm) {
			font-size: 28px;
		}
		span {
			&:first-of-type {
				color: $blue;
			}
			&:last-of-type {
				color: $orange;
			}
		}
	}
}

/*Внутренняя обёртка блоков проектов*/
.about__projects__block {
	padding: 20px 0px;
	align-items: center;
	@media screen and (min-width: $landscape-lg) {
		align-items: flex-start;
	}
}

/*Изображения блоков проектов*/
.about__projects__block__images {
	display: flex;
	align-items: center;
	justify-content: space-around;
	flex-wrap: wrap;
	@media screen and (min-width: $landscape-lg) {
		align-items: flex-start;
		justify-content: flex-start;
	}
	&__item {
		width: 100%;
		max-width: 357px;
		margin-bottom: 35px;
		img {
			width: 100%;
		}
	}
}

/*Текст для блоков проектов*/
.about__projects__block__text {
	p {
		font-size: 16px;
		line-height: 1.4em;
		color: #68788a;
		margin-top: 0;
		margin-bottom: 15px;
	}
	ul {
		margin: 0;
		padding: 0;
		list-style-type: none;
	}
	li {
		position: relative;
		font-size: 16px;
		line-height: 1.4em;
		color: #68788a;
		padding-left: 35px;
		margin-bottom: 15px;
		&::before {
			content: '';
			position: absolute;
	    width: 25px;
    	height: 25px;
			background-image: url(../img/icon-mark.svg);
			background-position: center;
			background-size: 40px;
			top: 0;
			left: 0;
		}
	}
}

/*Обёртка для второго блока акций*/
.second__store__block__wrap {
	padding: 20px 0;
	@media screen and (min-width: $landscape-lg) {
		padding-top: 50px;
	}
}

/*Обёртка блоков с изображениями акции*/
.second__store__images__block {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-around;
	flex-wrap: wrap;
	@media screen and (min-width: $landscape-lg) {
		justify-content: space-between;
	}
}
/*Текст акции*/
.second__store__images__block__store__text {
	width: 100%;
	max-width: 220px;
	position: relative;
	padding-top: 60px;
	padding-bottom: 60px;
	padding-left: 40px;
	font-size: 30px;
	color: #fff;
	line-height: 1em;
	font-weight: bold;
	text-transform: uppercase;
	z-index: 2;
	@media screen and (min-width: $mobile-sm) {
			margin-bottom: 25px;
	}
	&::before {
		content: '';
		position: absolute;
		width: 220px;
		height: 147px;
		background-image: url(../img/stock-text-middle-bg.png);
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
		top: 0;
		left: 0;
		z-index: -1;
	}
}

/*Изображение акции номер один*/
.second__store__images__block__image1 {
	width: 100%;
	max-width: 225px;
	position: relative;
	margin-bottom: 35px;
	@media screen and (min-width: $landscape-lg) {
		margin-bottom: -5px;
	}
	&::after {
		content: '';
		position: absolute;
		width: 17px;
		height: 13px;
		background-image: url(../img/stock-arrows-small.png);
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
		@media screen and (min-width: $mobile-sm) {
			bottom: -10px;
			left: 50%;
			transform: translateX(-50%) rotate(90deg);
		}
		@media screen and (min-width: $landscape-lg) {
			bottom: auto;
			left: auto;
			top: 40%;
			right: -20px;
			transform: translateY(-50%) rotate(0deg);
		}
	}
	img {
		width: 100%;
	}
}

/*Изображение акции номер два*/
.second__store__images__block__image2 {
	width: 100%;
	max-width: 591px;
	margin-bottom: 25px;
	img {
		width: 100%;
	}
}

/*Обнуление отступов бутстрапа для внутренней обёртки текста*/
.second__store__text__block {
	margin: 0;
	margin-bottom: 25px;
}

/*Текст второй акции*/
.second__store__text {
	padding-bottom: 20px;
	border-bottom: 1px solid #c9e5f4;
	margin-bottom: 25px;
	@media screen and (min-width: $landscape-lg) {
		border-bottom: none;
		padding-bottom: 0;
		margin-bottom: 0;
		border-right: 1px solid #c9e5f4;
		padding-right: 25px;
	}
	p {
		font-size: 16px;
		line-height: 1.5em;
		color: #68788a;
		margin-top: 0;
		margin-bottom: 15px;
		&:last-of-type {
			margin-bottom: 0;
		}
		&.attention {
			padding-left: 20px;
			padding-top: 15px;
			padding-bottom: 15px;
			border-radius: 10px;
			border: 1px solid #f29940;
		}
	}
}

/*Ссылка для второй акции*/
.second__store__link  {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	align-items: center;
	justify-content: space-around;
	a {
		display: block;
		width: 100%;
		max-width: 260px;
		border-radius: 5px;
		color: $blue;
		border: 1px solid $blue;
		font-size: 16px;
		text-align: center;
		padding: 11px 0px;
		margin-bottom: 15px;
		transition: all 0.2s ease-in-out;
		cursor: pointer;
		background-color: transparent;
		&:hover {
			background-color: $blue;
			color: #fff;
		}
	}
}

/*Обёртка для форм странсформирующих SVG*/
.calculation__forms__wrap {
	padding: 20px 0;
	h2 {
		position: relative;
    width: 100%;
    max-width: 625px;
    margin: 0 auto;
    margin-bottom: 30px;
    font-size: 28px;
    line-height: 1.5em;
    text-align: center;
    color: #68788a;
    position: relative;
    text-transform: uppercase;
    font-weight: 500;
    span {
    	font-size: 26px;
    	text-transform: none;
    }
    &::before {
    	content: '';
	    position: absolute;
	    width: 70px;
	    height: 2px;
	    background-color: #c9e5f4;
	    top: -20px;
	    left: 50%;
	    -webkit-transform: translateX(-50%);
	    -ms-transform: translateX(-50%);
	    transform: translateX(-50%);
    }
	}
}

/*Табы для формы*/
.form__tabs__list {
	margin: 0;
	padding: 0;
	list-style-type: none;
	display: flex;
	align-items: center;
	justify-content: space-around;
	flex-wrap: wrap;
}
/*Кнопки табов*/
.form__tabs__list__item {
	display: block;
	width: 100%;
	max-width: 260px;
	border-radius: 5px;
	color: #fff;
	background-color: $blue;
	border: 1px solid $blue;
	font-size: 16px;
	text-align: center;
	padding: 11px 0px;
	margin-bottom: 25px;
	transition: all 0.2s ease-in-out;
	cursor: pointer;
	&.active {
		opacity: 0.3;
	}
	&:hover {
		background-color: #fff;
		color: $blue;
	}
}

/*Обёртка формы отопления*/
.heat__form__wrap {
	width: 100%;
	max-width: 580px;
	margin: 0 auto;
	margin-bottom: 30px;
	padding: 10px 20px;
}

/*Форма отопления и всё внутри неё*/
.heat__form {
	width: 100%;
	display: flex;
	align-items: flex-start;
	justify-content: flex-start;
	flex-wrap: wrap;
}

/*Обёртка и стили для инпутов и меток(label)*/
.input__wrap {
	width: 50%;
	display: flex;
	align-items: center;
	justify-content: flex-start;
	flex-wrap: wrap;
	margin-bottom: 15px;
	@media screen and (min-width: $mobile-sm) and (max-width: $landscape-sm) {
		width: 100%;
	}
	&.--negative-margin {
		@media screen and (min-width: $desktop) {
			margin-top: -55px;
		}
	}

	input[type="number"] {
		width: 100%;
		max-width: 80px;
		border: 1px solid #dadada;
		border-radius: 6px;
		outline: none;
		font-size: 16px;
		line-height: 1em;
		color: #68788a;
		padding-top: 7px;
		padding-bottom: 7px;
		padding-left: 10px;
		margin-bottom: 10px;
		-moz-appearance:textfield;
		&::-webkit-outer-spin-button,
		&::-webkit-inner-spin-button {
			-webkit-appearance: none;
    	margin: 0;
		} 
	}

	input[type="radio"],
	input[type="checkbox"] {
		display: none;
		&:checked {
			+ label {
				&::after {
					opacity: 1;
				}
			}
		}
	}

	label {
		width: 100%;
		position: relative;
		font-size: 16px;
		line-height: 1em;
		color: #68788a;
		margin-bottom: 10px;
		padding-left: 25px;
		cursor: pointer;
		&::before {
			content: '';
			position: absolute;
			width: 12px;
			height: 12px;
			border: 1px solid #b7b7b7;
			border-radius: 50%;
			top: 3px;
			left: 0;
			transition: all 0.2s ease-in-out;
		}
		&::after {
			content: '';
			position: absolute;
			width: 6px;
			height: 6px;
			background-color: $blue;
			border-radius: 50%;
			top: 6px;
    	left: 3px;
    	opacity: 0;
    	transition: all 0.2s ease-in-out;
		}
		&.labels__for__checkbox {
			padding-left: 40px;
			opacity: 0.3;
			transition: all 0.2s ease-in-out;
			&.active {
				opacity: 1;
			}
			&::before {
				content: '';
				position: absolute;
				width: 12px;
				height: 12px;
				border: 1px solid #b7b7b7;
				border-radius: 0%;
				border-radius: 15%;
				top: 3px;
				left: 20px;
				transition: all 0.2s ease-in-out;
			}
			&::after {
				content: '';
				position: absolute;
				width: 8px;
    		height: 4px;
				background-color: transparent;
				border-left: 2px solid $blue;
				border-bottom: 2px solid $blue;
				transform: rotate(-45deg);
				top: 6px;
    		left: 22px;
				opacity: 0;
				border-radius: 0%;
			}
		}
		&.sub__radio {
			padding-left: 40px;
			&::before {
				left: 20px;
			}
			&::after {
				left: 23px;
			}
		}
	}
}

/*Заголовок для инпутов формы*/
.inputs__title {
	width: 100%;
	font-size: 20px;
	line-height: 24px;
	color: #68788a;
	font-weight: 600;
	margin-right: 15px;
	margin-bottom: 10px;
	&.--width-auto {
		width: auto;
		span {
			font-weight: 500;
		}
	}
}

/*Кнопка формы*/
.calculation__form__button,
.scroll__form__button,
.clear__form__button {
	display: block;
	width: 100%;
	max-width: 260px;
	margin: 0 auto;
	margin-top: 15px;
	margin-bottom: 15px;
	border-radius: 5px;
	color: #fff;
	background-color: $blue;
	border: 1px solid $blue;
	outline: none;
	font-size: 16px;
	text-align: center;
	padding: 11px 0px;
	margin-bottom: 25px;
	transition: all 0.2s ease-in-out;
	cursor: pointer;
	&:hover {
		background-color: #fff;
		color: $blue;
	}	
}
.scroll__form__button,
.clear__form__button {
	@media screen and (min-width: $landscape-lg) {
		width: auto;
		min-width: 100px;
	}
}
/*Обёртка для формы водоснабжения*/
.water__supply__wrap {
	width: 100%;
	max-width: 575px;
	margin: 0 auto;
	margin-bottom: 30px;
}

/*Форма водоснабжения*/
.water__supply {
	width: 100%;
	display: flex;
	align-items: flex-start;
	justify-content: flex-start;
	flex-wrap: wrap;
}

/*Обёртка для формы 2 в 1*/
.all__in__form {
	width: 100%;
	display: flex;
	align-items: flex-start;
	justify-content: space-between;
	flex-wrap: wrap;
}

/*Обёртка для разделения 2х форм*/
.all__in__form__wrap {
	width: 48%;
	display: flex;
	align-items: flex-start;
	justify-content: flex-start;
	flex-wrap: wrap;
	@media screen and (min-width: $mobile-sm) and (max-width: $landscape-lg) {
		width: 100%;
	}
}

/*Стили для трансформирующегося SVG элемента*/
.svg__transform__block {
	width: 100%;
	max-width: 900px;
	margin: 0 auto;
	@media screen and (min-width: $desktop) {
		position: relative;
		min-height: 350px;
			&::after {
				content: '';
				position: absolute;
				width: 0;
				height: 0;
				border-style: solid;
				border-width: 250px 650px 0 650px;
				border-color: #fff transparent transparent transparent;
				bottom: -260px;
				left: 50%;
				transform: translateX(-50%);
				z-index: 2;
			@media screen and (min-width: $desktop-hd) {
				border-width: 250px 675px 0 675px;
			}
		}
	}
	svg {
		width: 100%;
		@media screen and (min-width: $desktop) {
			position: absolute;
			left: 50%;
			top: -10px;
			transform: translateX(-50%);
			z-index: 5;
		}
	 	>	g {
			display: none;
			&.svg__show {
				display: block;
			}
		}
	}
}

/*Обёртка списка как мы работаем*/
.work__list__block__wrap {
	padding: 20px 0;
	padding-bottom: 0;
	background-color: #f3f6f8;
	@media screen and (min-width: $desktop) {
		padding-top: 300px;
	}
	h2 {
		position: relative;
    width: 100%;
    max-width: 740px;
    margin: 0 auto;
    margin-bottom: 30px;
    font-size: 24px;
    line-height: 1.5em;
    text-align: center;
    color: #68788a;
    text-transform: uppercase;
    font-weight: 500;
    @media screen and (min-width: $landscape-sm) {
    	font-size: 28px;
    	margin-bottom: 60px;
    }
	}
	h3 {
		font-size: 24px;
		text-align: center;
		color: #68788a;
		line-height: 40px;
		margin-bottom: 20px;
		font-weight: 500;
	}
}
.work__list {
	width: 100%;
	max-width: 700px;
	margin: 0 auto;
	margin-bottom: 30px;
	padding: 10px 15px;
	list-style-type: none;
	li {
		position: relative;
    font-size: 18px;
    line-height: 1.4em;
    color: #68788a;
    padding-left: 35px;
    margin-bottom: 20px;
    &::before {
    	content: '';
	    position: absolute;
	    width: 25px;
	    height: 25px;
	    background-image: url(../img/icon-mark.svg);
	    background-position: center;
	    background-size: 40px;
	    top: 0;
	    left: -10px;
    }
	}
}

.how__we__work__list {
	width: 100%;
	display: flex;
	align-items: flex-start;
	justify-content: space-around;
	flex-wrap: wrap;
	@media screen and (min-width: $desktop) {
		position: relative;
			&::after {
				content: '';
				position: absolute;
				width: 0;
				height: 0;
				border-style: solid;
				border-width: 250px 650px 0 650px;
				border-color: #f3f6f8 transparent transparent transparent;
				bottom: -249px;
				left: 50%;
				transform: translateX(-50%);
				z-index: 2;
			@media screen and (min-width: $desktop-hd) {
				border-width: 250px 675px 0 675px;
			}
		}
	}
}

.how__we__work__list__item {
	width: 100%;
	position: relative;
	font-size: 16px;
	line-height: 1.5em;
	color: #68788a;
	text-align: center;
	padding-top: 105px;
	margin-bottom: 15px;
	@media screen and (min-width: $mobile-sm) {
		max-width: 100%;
		margin-bottom: 100px;
	}
	@media screen and (min-width: $landscape-lg) {
		max-width: 130px;
		margin-bottom: 0;
	}
	@media screen and (min-width: $desktop) {
		position: relative;
		margin-bottom: -60px;
		z-index: 5;
		&:nth-of-type(1) {
			&::after {
				top: 25px;
			}
		}
		&:nth-of-type(2) {
			&::after {
				top: 45px;
			}
		}
		&:nth-of-type(4) {
			&::after {
				top: -20px;
			}
		}
		&:nth-of-type(5) {
			&::after {
				top: -10px;
			}
		}
		&:nth-of-type(2),
		&:nth-of-type(5) {
			top: 35px;
		}
		&:nth-of-type(3),
		&:nth-of-type(4) {
			top: 100px;
		}
	}
	&:nth-of-type(1) {
		&::before {
			background-image: url(../img/how-we-work-icon-1.svg);
			background-size: 460%;
		}
	}
	&:nth-of-type(2) {
		&::before {
			background-image: url(../img/how-we-work-icon-2.svg);
		}
	}
	&:nth-of-type(3) {
		&::before {
			background-image: url(../img/how-we-work-icon-3.svg);
		}
	}
	&:nth-of-type(4) {
		&::before {
			background-image: url(../img/how-we-work-icon-4.svg);
		}
	}
	&:nth-of-type(5) {
		&::before {
			background-image: url(../img/how-we-work-icon-5.svg);
		}
	}
	&:nth-of-type(6) {
		&::before {
			background-image: url(../img/how-we-work-icon-6.svg);
		}
	}
	&::before {
		content: '';
		position: absolute;
		width: 83px;
		height: 83px;
		background-repeat: no-repeat;
		background-position: center;
		background-size: cover;
		top: 0;
		left: 50%;
		transform: translateX(-50%);
	}
	&::after {
		content: '';
		position: absolute;
		width: 38px;
		height: 38px;
		background-image: url(../img/how-we-work-list-icon.png);
		background-repeat: no-repeat;
		background-position: center;
		background-size: cover;
		top: 75px;
		right: -40px;
		@media screen and (min-width: $mobile-sm) {
			top: auto;
			right: auto;
			bottom: -70px;
			left: 50%;
			transform: translateX(-50%) rotate(90deg);
		}
		@media screen and (min-width: $landscape-lg) {
			bottom: auto;
			left: auto;
			top: 35px;
    	right: -33px;
			transform: none;
		}
		@media screen and (min-width: $desktop) {
			top: 25px;
    	right: -40px;
		}
	}
	&:last-of-type {
		&::after {
			display: none;
		}
	}
}
.how__we__work__result__block {
	padding: 20px 0;
	background-color: #c9e5f4;
	@media screen and (min-width: $desktop) {
		min-height: 260px;
		position: relative;
		&::after {
				content: '';
				position: absolute;
				width: 0;
				height: 0;
				border-style: solid;
				border-width: 250px 650px 0 650px;
				border-color: #c9e5f4 transparent transparent transparent;
				bottom: -249px;
				left: 50%;
				transform: translateX(-50%);
				z-index: 2;
			@media screen and (min-width: $desktop-hd) {
				border-width: 250px 675px 0 675px;
			}
		}
	}

	.strong {
		width: 100%;
		max-width: 150px;
		margin: 0 auto;
		margin-bottom: 10px;
		line-height: 1em;
		margin-top: 0;
		text-align: center;
		font-weight: bold;
		color: #68788a;
		font-size: 19px;
		@media screen and (min-width: $desktop) {
			position: relative;
			top: 250px;
			z-index: 5;
		}
	}
}
.result__item {
	width: 100%;
	max-width: 200px;
	margin: 0 auto;
	position: relative;
	font-size: 16px;
	line-height: 1.5em;
	color: #68788a;
	text-align: center;
	padding-top: 105px;
	margin-bottom: 15px;
	@media screen and (min-width: $desktop) {
		position: relative;
		top: 250px;
		z-index: 5;
	}
	&::before {
		content: '';
		position: absolute;
		width: 83px;
		height: 83px;
		background-image: url(../img/result-icon.svg);
		background-repeat: no-repeat;
		background-position: center;
		background-size: cover;
		top: 10px;
		left: 50%;
		transform: translateX(-50%);
	}
}
.result__callback__link {
  display: block;
  width: 100%;
  max-width: 260px;
  margin: 0 auto;
  margin-bottom: 30px;
  border-radius: 5px;
  color: #fff;
  background-color: #3e9ce8;
  border: 1px solid #3e9ce8;
  font-size: 16px;
  text-align: center;
  padding: 11px 0;
  margin-bottom: 25px;
  transition: all .2s ease-in-out;
  cursor: pointer;
  @media screen and (min-width: $desktop) {
  	position: absolute;
		top: 550px;
    left: 50%;
    transform: translateX(-50%);
		z-index: 5;
		margin: 0 auto;
	}
  &:hover {
  	background-color: #fff;
  	color: #3e9ce8;
  }
}
.our__projects__block {
	padding: 40px 0;
	@media screen and (min-width: $desktop) {
		padding-top: 395px;
	}
	h2 {
		width: 100%;
    max-width: 280px;
    margin: 0 auto;
    margin-bottom: 30px;
    font-size: 28px;
    line-height: 1.5em;
    text-align: center;
    color: #68788a;
    position: relative;
    text-transform: uppercase;
    font-weight: 500;
    &::after {
    	content: '';
	    position: absolute;
	    width: 70px;
	    height: 2px;
	    background-color: #c9e5f4;
	    top: -20px;
	    left: 50%;
	    transform: translateX(-50%);
    }
	}
}
.main__project__slider__wrap {
	width: 100%;
	padding: 0 40px;
	margin-bottom: 20px;
	@media screen and (min-width: $desktop) {
		padding: 0 80px;
	}
}
.main__project__slider__item {
	width: 100%;
	max-width: 100%;
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	margin: 0 auto;
	@media screen and (min-width: $mobile-sm) {
		height: 150px;
	}
	@media screen and (min-width: $landscape-sm) {
		height: 450px;
	}
	@media screen and (min-width: $desktop) {
		height: 710px;
	}
}
.main__project__slider__nav__wrap {
	width: 100%;
	padding: 0 40px;
	margin-bottom: 50px;
	@media screen and (min-width: $desktop) {
		padding: 0 80px;
	}
}
.main__project__slider__nav__item__wrap {
	width: 100%;
}
.main__project__slider__nav__item {
	width: 166px;
	height: 126px;
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	margin: 0 auto;
}

/*Custom slick arrows*/
.slick-next, .slick-prev {
	width: 38px;
	height: 38px;
	background-image: url(../img/how-we-work-list-icon.png);
	&::before {
		display: none;
	}
}
.slick-next {
	right: 0px;
	@media screen and (min-width: $mobile-sm) {
		right: -10px;
	}
	@media screen and (min-width: $desktop) {
		right: 10px;
	}
}
.slick-prev {
	left: 0px;
	@media screen and (min-width: $mobile-sm) {
		left: -10px;
	}
	@media screen and (min-width: $desktop) {
		left: 10px;
	}
	transform: translate(0,-50%) rotate(180deg);
}

.slider__callback__link {
	display: block;
  width: 100%;
  max-width: 260px;
  margin: 0 auto;
  margin-bottom: 30px;
  border-radius: 5px;
  color: #fff;
  background-color: #3e9ce8;
  border: 1px solid #3e9ce8;
  font-size: 16px;
  text-align: center;
  padding: 11px 0;
  margin-bottom: 40px;
  transition: all .2s ease-in-out;
  cursor: pointer;
  @media screen and (min-width: $desktop) {
  	margin-bottom: 80px;
  }
  &:hover {
  	background-color: #fff;
  	color: #3e9ce8;
  }
}
.adaptive__video__container {
	position: relative;
  width: 100%;
  max-width: 945px;
  height: 0;
  margin: 0 auto;
  padding-bottom: 44.15%;
  margin-bottom: 30px;
}
.adaptive__video__iframe {
	position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.reviews__block__wrap {
	padding: 40px 0;
	background-color: #f3f6f8;
	h2 {
		position: relative;
    width: 100%;
    max-width: 740px;
    margin: 0 auto;
    margin-bottom: 30px;
    font-size: 24px;
    line-height: 1.5em;
    text-align: center;
    color: #68788a;
    text-transform: uppercase;
    font-weight: 500;
    @media screen and (min-width: $landscape-sm) {
    	font-size: 28px;
    	margin-bottom: 40px;
    }
	}
}
.reviews__slider__wrap {
	width: 100%;
	position: relative;
	padding-left: 60px;
	padding-right: 60px;
	margin-bottom: 30px;
}

.reviews__slider__item {
	width: 100%;
	display: flex;
	align-items: flex-start;
	justify-content: flex-start;
	flex-wrap: wrap;
	@media screen and (min-width: $landscape-sm) {
			flex-wrap: nowrap;
		}
	&__image {
		display: block;
		width: 100%;
		max-width: 165px;
		margin-right: 40px;
		margin-bottom: 25px;
		outline: none;
		@media screen and (min-width: $desktop) {
			margin-bottom: 0;
		}
		img {
			width: 100%;
		}
	}
	&__text {
		width: 100%;
		max-width: 750px;
	}
	&__name {
		font-size: 18px;
		line-height: 24px;
		color: #68788a;
		font-weight: 700;
		margin-bottom: 10px;
	}
	&__content {
		font-size: 16px;
		line-height: 24px;
		color: #68788a;
		margin-bottom: 20px;
		&:last-of-type {
			margin-bottom: 0;
		}
	}
}
.reviews__slider__wrap {
	@media screen and (min-width: $desktop) {
		.slick-prev {
			left: -20px;
		}
		.slick-next {
			right: -20px;
		}
	}
}

.callback__on__page__wrap {
	padding: 40px 0;
	h2 {
		position: relative;
    width: 100%;
    max-width:360px;
    margin: 0 auto;
    margin-bottom: 30px;
    font-size: 24px;
    line-height: 1.2em;
    text-align: center;
    color: #68788a;
    text-transform: uppercase;
    font-weight: 500;
    span {
    	font-size: 24px;
    	text-transform: none;
    }
    @media screen and (min-width: $landscape-sm) {
    	font-size: 28px;
    }
	}
}
.callback__on__page__form {
	width: 100%;
	max-width: 300px;
	margin: 0 auto;
	padding: 10px 20px;
	input {
		display: block;
		width: 100%;
		border: 1px solid #dadada;
		border-radius: 5px;
		padding-top: 10px;
		padding-bottom: 10px;
		padding-left: 20px;
		font-size: 16px;
		line-height: 1em;
		color: #949ea9;
		margin-bottom: 20px;
		outline: none;
		&.input-error {
			border-color: $orange;
		}
		&:focus {
			box-shadow: 0 0 5px rgba(218, 218, 218, 1);
		}
	}
}
.callback__on__page__button {
	display: block;
	outline: none;
	width: 100%;
	max-width: 260px;
	border-radius: 5px;
  color: #fff;
  background-color: #3e9ce8;
  border: 1px solid #3e9ce8;
  font-size: 16px;
  text-align: center;
  padding: 11px 0;
  margin-bottom: 20px;
  transition: all .2s ease-in-out;
  cursor: pointer;
  &:hover {
  	background-color: #fff;
  	color: $blue;
  }
}
.privacy__conf {
	width: 100%;
	text-align: center;
	font-size: 14px;
	line-height: 1.3em;
	color: #68788a;
	a {
		color: #3e9ce8;
		text-decoration: underline;
		&:hover {
			text-decoration: none;
		}
	}
}

/*Подвальчик*/
footer {
	padding: 25px 0;
	background-color: #03254e;
}
/*Логотип*/
.footer__logo {
	width: 145px;
	img {
		width: 100%;
	}
	@media screen and (min-width: $mobile-sm) {
		margin: 0 auto;
		margin-bottom: 25px;
	}
	@media screen and (min-width: $landscape-sm) {
		margin: 0;
		margin-bottom: 25px;
	}
}
.footer__info {
	font-size: 14px;
	line-height: 20px;
	color: #76b8ec;
	margin-bottom: 20px;
	@media screen and (min-width: $mobile-sm) {
		text-align: center;
	}
	@media screen and (min-width: $landscape-sm) {
		text-align: left;
	}
}
.footer__links {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-around;
	flex-wrap: wrap;
	@media screen and (min-width: $landscape-sm) {
			margin-top: 20px;
			margin-bottom: 20px;
	}
	@media screen and (min-width: $landscape-lg) {
		justify-content: space-between;
		flex-wrap: nowrap;
		margin-top: 35px;
    margin-bottom: 55px;
	}
	&__item {
		display: block;
		font-size: 18px;
		line-height: 20px;
		color: #76b8ec;
		margin-bottom: 15px;
		&:hover {
			color: #c9e5f4;
		}
		@media screen and (min-width: $mobile-sm) {
			width: 100%;
			text-align: center;
		}
		@media screen and (min-width: 420px) {
			width: 50%;
			text-align: center;
		}
		@media screen and (min-width: $landscape-sm) {
			text-align: left;
		}
		@media screen and (min-width: $landscape-lg) {
			width: auto;
			margin-bottom: 0;
			text-align: left;
		}
	}
}
.footer__adress {
	font-size: 14px;
	line-height: 20px;
	color: #c9e5f4;
	margin-bottom: 20px;
	@media screen and (min-width: $landscape-sm) {
			text-align: right;
	}
	@media screen and (min-width: $landscape-lg) {
			text-align: left;
	}
}
.footer__phones {
	width: 100%;
	display: flex;
	align-items: flex-start;
	justify-content: space-between;
	flex-wrap: wrap;
	@media screen and (min-width: $landscape-sm) {
		width: 50%;
	}
	@media screen and (min-width: $landscape-lg) {
		width: 175px;
		padding-top: 17px;
		margin-left: auto;
    margin-right: 0;
		margin-bottom: 20px;
		align-items: flex-start;
		justify-content: flex-start;
		flex-wrap: wrap;
	}
	&__item {
		display: block;
    width: auto;
    margin-bottom: 10px;
    font-size: 20px;
    line-height: 1em;
    color: #ff8e4f;
    text-align: right;
    @media screen and (min-width: $landscape-sm) {
    	width: 100%;
    	text-align: left;
    }
    @media screen and (min-width: $landscape-lg) {
			width: auto;
			text-align: right;
    }
	}
}
.footer__phones__work__hours {
  width: 100%;
  font-size: 14px;
  line-height: 1em;
  color: #c8c8c8;
  margin-bottom: 20px;
  @media screen and (min-width: $landscape-lg) {
  	margin-bottom: 0;
  }
}
.footer__legal__name {
	font-size: 14px;
	line-height: 20px;
	color: #ff8e4f;
	@media screen and (min-width: $landscape-sm) {
		width: 50%;
		text-align: left;
	}
	@media screen and (min-width: $landscape-lg) {
		width: 100%;
		text-align: right;
	}
}

/*Поп ап формы*/
.pop__up__callback__form {
	display: none;
	width: 100%;
	position: fixed;
	max-width: 400px;
	padding: 30px 30px;
	padding-bottom: 0;
	background-color: #fff;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 10;
	input {
		display: block;
		width: 100%;
		max-width: 260px;
		margin: 0 auto;
		border: 1px solid #dadada;
		border-radius: 5px;
		padding-top: 10px;
		padding-bottom: 10px;
		padding-left: 20px;
		font-size: 16px;
		line-height: 1em;
		color: #949ea9;
		margin-bottom: 20px;
		outline: none;
		&.input-error {
			border-color: $orange;
		}
		&:focus {
			box-shadow: 0 0 5px rgba(218, 218, 218, 1);
		}
	}
}
.close__pop__up {
	position: absolute;
	width: 25px;
	height: 25px;
	border-radius: 50%;
	background-color: #f29940;
	cursor: pointer;
	top: -15px;
  right: -10px;
	&::before,
	&::after {
		content: '';
		position: absolute;
		width: 2px;
		height: 15px;
		background-color: #fff;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%) rotate(45deg);
	}
	&::after {
		transform: translate(-50%, -50%) rotate(-45deg);
	}
}
.callback__title {
	font-size: 27px;
	line-height: 30px;
	color: #68788a;
	text-align: center;
	margin-bottom: 20px;
}
.pop__up__call__back__button {
	display: block;
	outline: none;
	width: 100%;
	max-width: 260px;
	margin: 0 auto;
	border-radius: 5px;
  color: #fff;
  background-color: #3e9ce8;
  border: 1px solid #3e9ce8;
  font-size: 16px;
  text-align: center;
  padding: 11px 0;
  margin-bottom: 20px;
  transition: all .2s ease-in-out;
  cursor: pointer;
  &:hover {
  	background-color: #fff;
  	color: $blue;
  }
}

.pop__up__thanks {
	display: none;
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 100%;
	max-width: 400px;
	padding: 30px 30px;
	padding-bottom: 0;
	background-color: #fff;
	z-index: 10;
	img {
		display: block;
		width: 100%;
		max-width: 101px;
		margin: 0 auto;
		margin-bottom: 20px;
	}
}
.thanks__text {
	width: 100%;
	text-align: center;
	font-size: 27px;
	line-height: 24px;
	color: #68788a;
	span {
		font-size: 18px;
	}
}
.underlay {
	display: none;
	position: fixed;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0, 0.3);
	z-index: 5;
	top: 0;
	left: 0;
	cursor: pointer;
}